.container {
  min-height: 100vh;
  height: 100%;
  max-width: 992px;
  margin: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-content: center;
}

@media (max-width: 720px) {
  .container section {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    align-content: center;
  }
}
