.challengeBoxContainer {
  height: 100%;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 0 5rem rgba(231, 231, 239, 1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.challengeNotActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.challengeNotActive strong {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
  width: 70%;
}

.challengeNotActive p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.4;
  margin-top: 2rem;
  text-align: center;
  width: 50%;
}

@media (max-width: 720px) {
  .challengeNotActive strong {
    width: 100%;
  }

  .challengeNotActive p {
    width: 100%;
  }
}

.challengeNotActive p img {
  margin-bottom: 2rem;
  width: 4rem;
}

.challengeActive {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.challengeActive header {
  color: var(--yellow);
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0 2rem 1.5rem;
  border-bottom: 1px solid var(--line);
  margin-bottom: 2rem;
}

.challengeActive main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.challengeActive main strong {
  font-weight: 600;
  font-size: 2rem;
  color: var(--title);
  margin: 1.5rem 0 1rem;
}

.challengeActive main p {
  line-height: 1.5;
  margin-bottom: 2rem;
}

.challengeActive main img {
  width: 10rem;
}

.challengeActive footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.challengeActive footer button {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.5s;
}

.challengeFailedButton {
  background-color: var(--yellow);
}

.challengeSucceededButton {
  background-color: var(--purple);
}

.challengeFailedButton:hover {
  background-color: var(--yellow-dark);
}

.challengeSucceededButton:hover {
  background-color: var(--title);
}

.challengeActive footer button:focus {
  border: 0;
  outline: 0;
}
